body {
    background: #ccaa66;
    color: #000;
    margin: 0;
}
.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
#loadlist {/*{{{*/
    position: absolute;
    top: 50px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    overflow: auto;
}
#loadlist table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    height: 100%;
}
#loadlist td {
    padding: 20px;
}
#loadlist tr:hover {
    background: #ddbb77;
    cursor: pointer;
}
/*}}}*/
#buttonsbar {/*{{{*/
    position: relative;
    margin: auto;
    width: 400px;
    height: 50px;
}
[class^="button"],[class^="lang"] {
    position: absolute;
    background: url(../images/buttons.png);
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.buttond {
    opacity: 0.2;
    cursor: default;
}
#start {
    left: 50px;
    background-position: 0px 0px;
}
#fastprev {
    left: 100px;
    background-position: -50px 0px;
}
#prev {
    left: 150px;
    background-position: -100px 0px;
}
#next {
    left: 200px;
    background-position: -150px 0px;
}
#fastnext {
    left: 250px;
    background-position: -200px 0px;
}
#end {
    left: 300px;
    background-position: -250px 0px;
}
#comment {
    left: 0;
    background-position: -300px 0px;
}
#load {
    left: 100px;
    background-position: -350px 0px;
}
#options {
    left: 350px;
    background-position: -400px 0px;
}
#sendsgf {
    left: 200px;
    background-position: -450px 0px;
}
#sendinput {
    display: none;
}
#downsgf {
    left: 250px;
    background-position: -500px 0px;
}
#lang {
    left: 150px;
}
.langen,.buttonen {
    background-position: -550px 0px;
}
.langfr,.buttonfr {
    background-position: -600px 0px;
}
#lang ul {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 50px;
    left: 0;
}
#lang:hover > ul {
    display: block;
}
#lang li {
    position: relative;
}
/*}}}*/
#variations {/*{{{*/
    text-align: center;
    height: 20px;
}
[id^="varbu"] {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 0px 2px 0px 2px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}
[id^="varbua"] {
    background: #000;
    cursor: default;
}
/*}}}*/
#goban {/*{{{*/
    position: relative;
    margin: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#bordertop {
    position: absolute;
    top: 0;
}
#borderright {
    position: absolute;
    right: 0;
}
#borderbottom {
    position: absolute;
    bottom: 0;
}
#borderleft {
    position: absolute;
    left: 0;
}
#grid {
    position: absolute;
}
.cell {
    float: left;
    border-radius: 50%;
    text-align: center;
    font-family: serif;
    overflow: hidden;
}
.vcell {
    float: none;
}
.cellb {
    background: #000;
    color: #fff;
}
.cellw {
    background: #f9f0ca;
}
.celle {
    background: #ccaa66;
}
/*}}}*/
#comments {/*{{{*/
    position: absolute;
    bottom: 0;
    padding: 15px;
    overflow: auto;
}
#infos {
    position: absolute;
    top: 6px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}
/*}}}*/
