.gamebutton.rotate180#butstart
    .medium-arrow
        .arrow-top.black
        .arrow-bottom.black
        .arrow-back.black
        .arrow-fill.black
    .arrow-rect.black
.gamebutton.rotate180#butfastprev
    .small-arrow
        .arrow-top.black
        .arrow-bottom.black
        .arrow-back.black
        .arrow-fill.black
    .small-arrow2
        .arrow-top.black
        .arrow-bottom.black
        .arrow-back.black
        .arrow-fill.black
.gamebutton.rotate180#butprev
    .arrow-top.black
    .arrow-bottom.black
    .arrow-back.black
    .arrow-fill.black
#variationsbutton
    #variations.brown3.none
        #varvalue
        select#varselect
.gamebutton#butnext
    .arrow-top.black
    .arrow-bottom.black
    .arrow-back.black
    .arrow-fill.black
.gamebutton#butfastnext
    .small-arrow
        .arrow-top.black
        .arrow-bottom.black
        .arrow-back.black
        .arrow-fill.black
    .small-arrow2
        .arrow-top.black
        .arrow-bottom.black
        .arrow-back.black
        .arrow-fill.black
.gamebutton#butend
    .medium-arrow
        .arrow-top.black
        .arrow-bottom.black
        .arrow-back.black
        .arrow-fill.black
    .arrow-rect.black
