#buttonsbar
    .button#comment
        .bubble.black
        .bubble-tail.circle.black
        .bubble-line.white
        .bubble-line.white.move
        .bubble-line.white.move2
    .button.rotate180#start
        .medium-arrow
            .arrow-top.circle.black
            .arrow-bottom.circle.black
            .arrow-back.circle.black
            .arrow-fill.black
        .arrow-rect.black
    .button.rotate180#fastprev
        .small-arrow
            .arrow-top.circle.black
            .arrow-bottom.circle.black
            .arrow-back.circle.black
            .arrow-fill.black
        .small-arrow2
            .arrow-top.circle.black
            .arrow-bottom.circle.black
            .arrow-back.circle.black
            .arrow-fill.black
    .button.rotate180#prev
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .button#next
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .button#fastnext
        .small-arrow
            .arrow-top.circle.black
            .arrow-bottom.circle.black
            .arrow-back.circle.black
            .arrow-fill.black
        .small-arrow2
            .arrow-top.circle.black
            .arrow-bottom.circle.black
            .arrow-back.circle.black
            .arrow-fill.black
    .button#end
        .medium-arrow
            .arrow-top.circle.black
            .arrow-bottom.circle.black
            .arrow-back.circle.black
            .arrow-fill.black
        .arrow-rect.black
    .button#options
        .yinyang-bg.circle.black
        .yinyang-left.white
        .yinyang-top.circle.white
        .yinyang-bottom.circle.black
        .yinyang-top-dot.circle.black
        .yinyang-bottom-dot.circle.white
