a.button.rotate180#butstart(href='#')
    .medium-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .arrow-rect.black
a.button.rotate180#butfastprev(href='#')
    .small-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .small-arrow2
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
a.button.rotate180#butprev(href='#')
    .arrow-top.circle.black
    .arrow-bottom.circle.black
    .arrow-back.circle.black
    .arrow-fill.black
a.button#butmenu(href='#')
    .yinyang-bg.circle.black
    .yinyang-left.white
    .yinyang-top.circle.white
    .yinyang-bottom.circle.black
    .yinyang-top-dot.circle.black
    .yinyang-bottom-dot.circle.white
a.button#butnext(href='#')
    .arrow-top.circle.black
    .arrow-bottom.circle.black
    .arrow-back.circle.black
    .arrow-fill.black
a.button#butfastnext(href='#')
    .small-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .small-arrow2
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
a.button#butend(href='#')
    .medium-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .arrow-rect.black
