.gamebutton.rotate180#butstart
    .medium-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .arrow-rect.black
.gamebutton.rotate180#butfastprev
    .small-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .small-arrow2
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
.gamebutton.rotate180#butprev
    .arrow-top.circle.black
    .arrow-bottom.circle.black
    .arrow-back.circle.black
    .arrow-fill.black
.gamebutton#butnext
    .arrow-top.circle.black
    .arrow-bottom.circle.black
    .arrow-back.circle.black
    .arrow-fill.black
.gamebutton#butfastnext
    .small-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .small-arrow2
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
.gamebutton#butend
    .medium-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .arrow-rect.black
#variations.brown3.none
    select#varselect.link
    #varvalue
