a.button#comment(href='#')
    .bubble.black
    .bubble-tail.circle.black
    .bubble-line.white
    .bubble-line.white.move
    .bubble-line.white.move2
a.button.rotate180#start(href='#')
    .medium-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .arrow-rect.black
a.button.rotate180#fastprev(href='#')
    .small-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .small-arrow2
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
a.button.rotate180#prev(href='#')
    .arrow-top.circle.black
    .arrow-bottom.circle.black
    .arrow-back.circle.black
    .arrow-fill.black
a.button#next(href='#')
    .arrow-top.circle.black
    .arrow-bottom.circle.black
    .arrow-back.circle.black
    .arrow-fill.black
a.button#fastnext(href='#')
    .small-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .small-arrow2
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
a.button#end(href='#')
    .medium-arrow
        .arrow-top.circle.black
        .arrow-bottom.circle.black
        .arrow-back.circle.black
        .arrow-fill.black
    .arrow-rect.black
a.button#options(href='#')
    .yinyang-bg.circle.black
    .yinyang-left.white
    .yinyang-top.circle.white
    .yinyang-bottom.circle.black
    .yinyang-top-dot.circle.black
    .yinyang-bottom-dot.circle.white
