#goban-panel
    #playersinfos
        #playerblack.black
            #blacktime
            #blackscore
            #blackrank
            #blackname.playername
        #playerwhite.white
            #whitetime
            #whitescore
            #whiterank
            #whitename.playername
    #goban
    #buttonsbar
        include buttonsbar
#textpanel
    input#textpanel-switch.button.black(type='button', value='i')
    #comments
    #gameinfos.none
        include gameinfos
