#games.white
    #games-choice
    p: a#refreshlist.linkbutton.black(href='#')= lingua.refresh
    table#gameslist
#chat.yellow
#userslist.white
form#chatform.flex(onsubmit='return false;')
    input#chatmsg.input.brown2(type='text', autocomplete='off')
    input#sendmsg.black(type='submit', value='^')
    input#showusers.black(type='button', value='@')
