h1= lingua.title
h2= lingua.load
p
    a#prevpage.linkbutton.black(href='#')<
    a#refreshlist.linkbutton.black(href='#')= lingua.refresh
    a#nextpage.linkbutton.black(href='#')>
table#gameslist
p: a#exitload.linkbutton.black(href='#')= lingua.back
