h2= lingua.login
p: a.linkbutton.black(href='/guest')= lingua.guestlogin
form#loginform.box.brown3(onsubmit='return false;')
    p= lingua.username
    input.input(type='text', name='username', autocomplete='on',
        maxlength='15', required)
    p= lingua.password
    input.input(type='password', name='password', required)
    p: input.linkbutton.black(type='submit', value= lingua.login)
    p: div#errorlogin.box.red.none= lingua.errorlogin
p: a#register.linkbutton.black(href='#')= lingua.register
