#menu-logo
#menu-title= lingua.yinyango
#menu-items
    input#m-hall.menulink.twhite.inactive(type='button', value= lingua.hall)
    input#m-game.menulink.twhite.inactive.none(type='button',
        value= lingua.game)
    input#m-settings.menulink.twhite.inactive(type='button',
        value= lingua.settings)
    input#m-logout.menulink.twhite.inactive(type='button', value= lingua.logout)
