h1= lingua.title
h2= lingua.menu
p: div.box.brown2
    p: input.linkbutton.black#menuload(type='button', value= lingua.load)
    if username !== 'guest'
        p: input.linkbutton.black#menusendsgf(type='button', value= lingua.sendsgf)
    p: input.linkbutton.black#menusettings(type='button', value= lingua.settings)
    p: input.linkbutton.black#menugameinfos(type='button', value= lingua.gameinfos)
    p: input.linkbutton.black#menulogout(type='button', value= lingua.logout)
    p: input.linkbutton.black#menuback(type='button', value= lingua.back)
