#navtitle= lingua.title
#navmenu
    div: a#n-load.tgrey(href='#')= lingua.load
    div: a#n-online.twhite(href='#')= lingua.online
    if username !== 'guest'
        div: a#n-sendsgf.tgrey(href='#')= lingua.sendsgf
    div: a#n-settings.tgrey(href='#')= lingua.settings
    div: a#n-gameinfos.tgrey(href='#')= lingua.gameinfos
    div: a#n-logout.tgrey(href='#')= lingua.logout
