#navtitle= lingua.title
#navmenu
    div: a#n-game(href='#')= lingua.game
    div: a#n-load(href='#')= lingua.load
    div: a#n-online(href='#')= lingua.online
    if username !== 'guest'
        div: a#n-sendsgf(href='#')= lingua.sendsgf
    div: a#n-settings(href='#')= lingua.settings
    div: a#n-gameinfos(href='#')= lingua.gameinfos
    div: a#n-logout(href='#')= lingua.logout
