h1= lingua.title
h2= lingua.online
form#chatform.box.brown2(onsubmit='return false;')
    p#chat
    p: input#chatmsg.input.brown2(type='text', autocomplete='off')
p: a#exitonline.linkbutton.black(href='#')= lingua.backtomenu
