#hall.vflex
    #columns
        #room-games.white
        #chat.yellow
        #userslist.white
    form#chatform.flex.red(onsubmit='return false;')
        input#chatmsg.input.brown2(type='text', autocomplete='off')
        input#sendmsg.black(type='submit', value='^')
        input#showusers.black(type='button', value='@')
