#toppanel
    #buttonsbar
        include buttonsbar
    #playersinfos
        #variations.brown2
            select#varselect
            #varvalue
        #playerblack.player.black
            #blackname.playername
            #blackscore
            #blacktime
        #playerwhite.player.white
            #whitename.playername
            #whitescore
            #whitetime
#comments
