#toppanel
    #buttonsbar
        include buttonsbar
    #playersinfos
        #variations.brown3
            select#varselect.link
            #varvalue
        #playerblack.player.black
            #blackname.playerline
            #blackscore.playerline
            #blacktime.playerline
        #playerwhite.player.white
            #whitename.playerline
            #whitescore.playerline
            #whitetime.playerline
#textpanel
    a#textpanel-switch.circle.black(href='#') i
    #comments
    #gameinfos
        include gameinfos
