#toppanel
    #buttonsbar
        include buttonsbar
    #variations
    #playersinfos
        a#playerblack.player.black
            #blackname.playername
            #blackscore
            #blacktime
        a#playerwhite.player.white
            #whitename.playername
            #whitescore
            #whitetime
#comments
