#toppanel
    #buttonsbar
        include buttonsbar
    #playersinfos
        #variations.brown3.none
            select#varselect.link
            #varvalue
        #playerblack.player.black
            #blackname.playerline
            #blackscore.playerline
            #blacktime.playerline
        #playerwhite.player.white
            #whitename.playerline
            #whitescore.playerline
            #whitetime.playerline
#textpanel
    input#textpanel-switch.button.black(type='button', value='i')
    #comments
    #gameinfos.none
        include gameinfos
