form#settingsform.box.brown3
    div= lingua.language
    .selectbox.yellow
        if lang == 'en'
            .selectvalue English
        if lang == 'fr'
            .selectvalue Français
        select.link.select(name='lang')
            if lang == 'en'
                option(value='en', selected) English
            else
                option(value='en') English
            if lang == 'fr'
                option(value='fr', selected) Français
            else
                option(value='fr') Français
    input.bigbutton.black(type='submit', value= lingua.save)
