<?php
// Configuration file to modify and rename to config.php.
$conf['db_hostname'] = "localhost";
$conf['db_type'] = "mysql";
$conf['db_username'] = "username";
$conf['db_password'] = "password";
$conf['db_name'] = "yinyanggo";
?>
