body {
    background-color: #bb9955;
    color: #000;
}
#menu {
    text-align: center;
    padding: 10px;
}
.menubutton {
    display: block;
    width: 80%;
    margin: auto;
    background-color: #d9a62c;
    border-radius: 4px;
    border: 1px solid #262626;
    font-size: 1.5em;
    cursor: pointer;
}
.menubutton:hover {
    background-color: #eab139;
}
#goban {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    border-collapse: collapse;
}
#navbar {
    position: absolute;
    padding: 10px;
}
#infos {
    position: absolute;
    padding: 10px;
}
#comments {
    text-align: left;
    font-size: 1em;
}
.button {
    background-color: #d9a62c;
    border-radius: 8px;
    border: 1px solid #262626;
    cursor: default;
}
.button:disabled {
    background-color: #cccccc;
}
.button:hover:enabled {
    background-color: #eab139;
    cursor: pointer;
}
.black {
    background-image: url(images/black.svg);
    background-size: 100% 100%;
}
.white {
    background-image: url(images/white.svg);
    background-size: 100% 100%;
}
.blackp {
    background-image: url(images/blackp.svg);
    background-size: 100% 100%;
}
.whitep {
    background-image: url(images/whitep.svg);
    background-size: 100% 100%;
}
.blacks:hover {
    background-image: url(images/blacks.svg);
    background-size: 100% 100%;
}
.whites:hover {
    background-image: url(images/whites.svg);
    background-size: 100% 100%;
}
