body {
    background-color: #262626;
    color: #c2c2b0;
    text-align: center;
}
#goban {
    /*background-image: url(images/goban19.svg);*/
    background-size: 100% 100%;
    margin: auto;
    border-collapse: collapse;
    /*cursor:none;*/
}
.blackp:hover {
    background-image: url(images/noirs.svg);
    background-size: 100% 100%;
}
.whitep:hover {
    background-image: url(images/blancs.svg);
    background-size: 100% 100%;
}
.black {
    background-image: url(images/noir.svg);
    background-size: 100% 100%;
}
.white {
    background-image: url(images/blanc.svg);
    background-size: 100% 100%;
}

