body {
    background-color: #cda657;
    color: #000;
    margin: 0;
}
#navbar {
    margin: auto;
    text-align: center;
    width: 400px;
    height: 50px;
}
.button {
    outline: none;
}
.button:disabled {
    opacity: 0.2;
    cursor: default;
}
#comments {
    position: absolute;
    right: 5px;
    bottom: 5px;
    left: 5px;
}
#resizer {
    background: #000;
    width: 100px;
    height: 6px;
    margin: auto;
    cursor: n-resize;
}
#textarea {
    width: 100%;
    padding: 0;
    border: 0;
    overflow: auto;
    font-size: 1em;
}
#goban {
    position: absolute;
    top: 50px;
    left: 50%;
    background-size: 100% 100%;
}
.black {
    background-image: url(images/black.svg);
    background-size: 100% 100%;
}
.white {
    background-image: url(images/white.svg);
    background-size: 100% 100%;
}
.blacks:hover {
    background-image: url(images/black.svg);
    background-size: 100% 100%;
    opacity: 0.5;
}
.whites:hover {
    background-image: url(images/white.svg);
    background-size: 100% 100%;
    opacity: 0.5;
}
.symcr {
    background-image: url(images/symcr.svg);
    background-size: 100% 100%;
}
.symcrw {
    background-image: url(images/symcrw.svg);
    background-size: 100% 100%;
}
.symsq {
    background-image: url(images/symsq.svg);
    background-size: 100% 100%;
}
.symsqw {
    background-image: url(images/symsqw.svg);
    background-size: 100% 100%;
}
.symtr {
    background-image: url(images/symtr.svg);
    background-size: 100% 100%;
}
.symtrw {
    background-image: url(images/symtrw.svg);
    background-size: 100% 100%;
}
