!!!
html
    head
        title= lingua.title
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no')
        if dev
            link(rel='stylesheet', type='text/css', href='/css/style.css')
            link(rel='stylesheet', type='text/css', href='/css/debug.css')
        else
            link(rel='stylesheet', type='text/css', href='/css/style.min.css')
        link(rel='shortcut icon', type='image/png', href='/images/favicon.png') 
    body.brown
        noscript
            .alert.red= lingua.jsrequired
        block content
