!!!
html
    head
        title= lingua.title
        meta(charset='UTF-8')
        meta(name='viewport', 
                content='width=device-width, target-densitydpi=device-dpi')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
        link(rel='shortcut icon', type='image/png', href='/images/favicon.png') 
    body.brown
        noscript.box.red= lingua.jsrequired
        block content
