extends layout

block content
    h1= title
    h2= locale.register
    form(name='form', method='post', action='/register')
        p: label= locale.username
        p: input(type='text', name='username', maxlength='15')
        p: label= locale.password
        p: input(type='password', name='password')
        p: label= locale.email
        p: input(type='email', name='email')
        p: a.linkbutton(href='javascript: submit()')= locale.register
    script
        function submit() {
            document.form.submit();
        }
