extends layout

block content
    h1= title
    h2= locale.settings
    form.box(method='post', action='/settings')
        p
            label= locale.lang + ': '
            select.input(name='langselect')
                if lang == 'en'
                    option#en(value='en', selected) English
                else
                    option#en(value='en') English
                if lang == 'fr'
                    option#fr(value='fr', selected) Français
                else
                    option#fr(value='fr') Français
        p: input.linkbutton.black(type='submit', value= locale.apply)
    p: a.linkbutton.black(href='/')= locale.back
