!!!
html
    head
        title= title
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/test.css')
        link(rel='shortcut icon', type='image/png', href='/images/favicon.png') 
    body
        #buttonsbar
            .button
        #goban
        #comment
    script
        function init() {
            var winh = window.innerHeight - 40,
                gobanelem = document.getElementById('goban');

            gobanelem.style.width = winh + 'px';
            gobanelem.style.height = winh + 'px';
        }
        
        document.addEventListener('DOMContentLoaded', init(), false);
