!!!
html
    head
        title= lingua.title
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/test.css')
        link(rel='shortcut icon', type='image/png', href='/images/favicon.png') 
    body.brown
        #goban
            include includes/goban
    script
        function init() {
            var goban = document.getElementById('goban'),
                cells = document.getElementsByClassName('cell'),
                winh = window.innerHeight,
                cellslen = cells.length,
                cellsize = winh / 3,
                i;
            goban.style.width = winh + 'px';
            goban.style.height = winh + 'px';
            for (i = 0; i < cellslen; i++) {
                cells[i].style.width = cellsize + 'px';
                cells[i].style.height = cellsize + 'px';
            }
        }
        document.addEventListener('DOMContentLoaded', init(), false);
