!!!
html
    head
        title= title
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/test.css')
        link(rel='shortcut icon', type='image/png', href='/images/favicon.png') 
    body.bg
        #goban
            div
                .cell.white
                .cell
                .cell.white
            div
                .cell.black
                .cell.black
                .cell
            div
                .cell.white
                .cell
                .cell
        #comment
            #buttonsbar
                .button
                .button
                .button
                .button
                .button
                .button
            div text
    script
        function init() {
            var winh = window.innerHeight,
                winw = window.innerWidth,
                goban = document.getElementById('goban'),
                com = document.getElementById('comment'),
                cells = document.getElementsByClassName('cell'),
                cellcount = cells.length,
                i, gobansize, comwidth, comheight, cellsize;

            if (winh < winw) { // Horizontal mode.
                gobansize = winh;
                comwidth = winw - winh;
                comheight = winh;
            } else { // Vertical mode.
                gobansize = winw;
                comwidth = winw;
                comheight = winh - winw;
            }
            cellsize = gobansize / 3;
            goban.style.width = gobansize + 'px';
            goban.style.height = gobansize + 'px';
            com.style.width = comwidth + 'px';
            com.style.height = comheight + 'px';
            for (i = 0; i < cellcount; i++) {
                cells[i].style.width = cellsize + 'px';
                cells[i].style.height = cellsize + 'px';
            }
        }
        
        document.addEventListener('DOMContentLoaded', init(), false);
        // Window resize.
        window.addEventListener('resize', init(), false);
