!!!
html
    head
        title= title
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/test.css')
        link(rel='shortcut icon', type='image/png', href='/images/favicon.png') 
    body.brown
        #goban
            div
                .cell
                    .g.gtl1.black
                    .g.gtl2.black
                .cell
                    .g.gt1.black
                    .g.gt2.black
                .cell
                    .g.gtr1.black
                    .g.gtr2.black
            div
                .cell
                    .g.gl1.black
                    .g.gl2.black
                .cell
                    .g.g1.black
                    .g.g2.black
                    .g.h.black
                .cell
                    .g.gr1.black
                    .g.gr2.black
            div
                .cell
                    .g.gbl1.black
                    .g.gbl2.black
                    .stone.black
                .cell
                    .g.gb1.black
                    .g.gb2.black
                    .stone.white
                .cell
                    .g.gbr1.black
                    .g.gbr2.black
                    .stone.white
    script
        function init() {
            var goban = document.getElementById('goban'),
                cells = document.getElementsByClassName('cell'),
                winh = window.innerHeight,
                cellslen = cells.length,
                cellsize = winh / 3,
                i;
            goban.style.width = winh + 'px';
            goban.style.height = winh + 'px';
            for (i = 0; i < cellslen; i++) {
                cells[i].style.width = cellsize + 'px';
                cells[i].style.height = cellsize + 'px';
            }
        }
        document.addEventListener('DOMContentLoaded', init(), false);
