!!!
html
    head
        title= lingua.title
        meta(charset='UTF-8')
        link(rel='stylesheet', type='text/css', href='/stylesheets/test.css')
        link(rel='shortcut icon', type='image/png', href='/images/favicon.png') 
    body.brown
        #goban
            include includes/goban
    script
        function init() {
            var goban = document.getElementById('goban'),
                cells = document.getElementsByClassName('cell'),
                winh = window.innerHeight,
                cellslen = cells.length,
                size = 11,
                cellsize = Math.floor(winh / size),
                gobansize,
                i;
            if (cellsize / 2 !== Math.round(cellsize / 2)) {
                cellsize--;
            }
            gobansize = cellsize * size;
            goban.style.width = gobansize + 'px';
            goban.style.height = gobansize + 'px';
            for (i = 0; i < cellslen; i++) {
                cells[i].style.width = cellsize + 'px';
                cells[i].style.height = cellsize + 'px';
            }
        }
        document.addEventListener('DOMContentLoaded', init(), false);
