extends layout

block content
    #loading= lingua.loading
    #goban
    #panel
        include includes/panel
    #menumask.none
    #menucontainer.screen
        p: div.box.black
            h1= lingua.title
        p: div#menu.box.brown2
            include includes/menu
    #load.screen.brown
        include includes/load
    #sendsgf.screen.brown
        include includes/sendsgf
    #settings.screen.brown
        include includes/settings
    #gameinfos
        include includes/gameinfos
    script(src='gotools.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/yinyango.js')
