extends layout

block content
    #loadlist
    #infos
    #buttonsbar
        #gobbuttons
            .button#comment(title= locale.comment)
            .button#border(title= locale.border)
        #listbuttons
            .button#refresh(title= locale.refresh)
        #optbuttons
            .button#load(title= locale.load)
            .button#lang(title= locale.lang)
                ul
                    li.buttonlang#langen(title='English')
                    li.buttonlang#langfr(title='Français')
            .button#user(title= locale.user)
                #userstatus
            .button#sendsgf(title= locale.sendsgf)
            .button#downsgf(title= locale.downsgf)
        #navbuttons
            .button#start(title= locale.start)
            .button#fastprev(title= locale.fastprev)
            .button#prev(title= locale.prev)
            .button#next(title= locale.next)
            .button#fastnext(title= locale.fastnext)
            .button#end(title= locale.end)
        .button#options(title= locale.options)
        .button#game(title= locale.game)
    #variations
    #goban
    #comments
    #serverforms
        iframe#resframe(name='resframe')
        form#sendsgfform(target='resframe', enctype='multipart/form-data',
            action='', method='POST')
            p: input(type='file', name='sgf')
            p: input#sendfile(type='submit')
        form#registerform(target='resframe', enctype='multipart/form-data',
            action='', method='POST')
            p: label#regname
            p: input(type='text', name='regname', maxlength='15')
            p: label#regpass
            p: input(type='password', name='regpass')
            p: label#regmail
            p: input(type='email', name='regmail')
            p: input#register(type='submit', name='register')
        form#paramform(target='resframe', enctype='multipart/form-data',
            action='', method='POST')
            p: input#changepass(type='submit', name='changepass')
            p: input#logout(type='submit', name='logout')
        p#serverresponse
    script
        user = {};
        user.username = '#{username}';
    script(src='/javascripts/yinyanggo.js')
    
