extends layout

block content
    //-#infos
    #loading= lingua.loading
    #goban
        include includes/goban
    #panel
        #buttonsbar
            include includes/buttonsbar
        #variations
        #comments
    #menumask
    #menucontainer.screen
        p: div.box.black
            h1= lingua.title
        p: div#menu.box.brown2
            include includes/menu
    #load.screen.brown
    #sendsgf.screen.brown
    #settings.screen.brown
    script(src='gotools.js')
    script(src='javascripts/yinyango.js')
