extends layout

block content
    a#navswitch(href='#')
        .yinyang-bg.circle.black
        .yinyang-left.white
        .yinyang-top.circle.white
        .yinyang-bottom.circle.black
        .yinyang-top-dot.circle.black
        .yinyang-bottom-dot.circle.white
    #navbar.black
        include includes/navbar
    #loading.screen
        p= lingua.loading
    #game.screen
        #goban
        #panel
            include includes/panel
    #gameinfos.screen
        include includes/gameinfos
    #load.screen
        include includes/load
    #online.screen
        include includes/online
    #sendsgf.screen
        include includes/sendsgf
    #settings.screen
        include includes/settings
    script(src='gotools.js')
    script(src='javascripts/socket.io.js')
    script(src='javascripts/yinyango.js')
