extends layout

block content
    //-#loadlist
    //-#infos
    //-#variations
    #loading= lingua.loading
    #goban
    #panel
        #buttonsbar
            include includes/buttonsbar
    //-#comments
    #menumask
    #menu.box.brown2
        include includes/menu
    script(src='gotools.js')
    script(src='javascripts/yinyango.js')
