extends layout

block content
    #messages.none
        #message
            #error.none= lingua.error
            #errorinvalid.none= lingua.errorinvalid
            #settingssaved.none= lingua.settingssaved
        #message-footer
            input#message-ok.linkbutton.black(type='button', value= lingua.ok)
    #menu.black.menubar
        include includes/menu
    #loading.screen
        p= lingua.loading
    #hall.screen.none
        include includes/hall
    #game.screen.none
        #goban
        #panel
            include includes/panel
    #settings.screen.none
        include includes/settings
    script(src='gotools.js')
    script(src='javascripts/socket.io.js')
    script(src='javascripts/yinyango.js')
