extends layout

block content
    a#navswitch(href='#')
    #navbar.black
        include includes/navbar
    #loading.screen
        p= lingua.loading
    #game.screen
        #goban
        #panel
            include includes/panel
    #gameinfos.screen
        include includes/gameinfos
    #hall.screen
        include includes/hall
    #sendsgf.screen
        include includes/sendsgf
    #settings.screen
        include includes/settings
    script(src='gotools.js')
    script(src='javascripts/socket.io.js')
    script(src='javascripts/yinyango.js')
