body {
    background: #ccaa66;
    color: #000;
    margin: 0;
    text-align: center;
}
.vertical {
    -moz-box-orient: vertical;
    box-orient: vertical;
}
#buttonsbar {
    position: relative;
    margin: auto;
    background: #0c0;
    width: 400px;
}
.button {
    position: relative;
    margin: auto;
    height: 40px;
    width: 40px;
    background: #0cc;
}
#goban {
    position: relative;
    margin: auto;
    background: #c00;
}
#comment {
    -moz-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    background: #00c;
}
