body {
    margin: 0;
    text-align: center;
}
.bg {
    background: #ccaa66;
    color: #000;
}
.black {
    background: #000;
    color: #f9f0ca;
}
.white {
    background: #f9f0ca;
    color: #000;
}
.cell {
    float: left;
    border-radius: 50%;
}
#buttonsbar {
    background: #0c0;
}
.button {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 30px;
    height: 30px;
    background: #0cc;
}
#goban {
    position: absolute;
    top: 0;
    left: 0;
    background: #c00;
}
#comment {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00c;
}
